.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.four_fifth{margin-right:4%;float:left;text-align:left;position:relative}
.one{width:100%;max-width:900px}
.one_half{width:48%}
.one_third{width:30.6666%}
.two_third{width:65.3332%}
.one_fourth{width:22%}
.three_fourth{width:74%}
.one_fifth{width:16.8%}
.four_fifth{width:79.2%}
.last{margin-right:0 !important}
.models{position:relative;float:left;width:100%;max-width:30%;text-align:center;margin:1%}
.models .choice{visibility:hidden;position:absolute;top:0;left:0;width:100%;color:#fff}
.models label.mpwp_model > input:checked + img + .choice{visibility:visible;padding-top:3px}
.models label.mpwp_model > input:checked + img + .choice span{background:#FAA831;padding:3px 10px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
label.mpwp_model > input{visibility:hidden;position:absolute}
label.mpwp_model > input + img{cursor:pointer;border:2px solid transparent}
label.mpwp_model > input:checked + img{border:3px solid #FAA831; opacity:0.8;filter: alpha(opacity=80);border-radius:5px}
@media only screen and (max-width:768px){
.one_half,.one_third,.two_third,.one_fourth,.one_fifth,.four_fifth{width:100%;padding:0;text-align:left;margin-right:0}
.box{margin:0}
}
.box{background:#f8f8f8;padding:30px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:0 0 20px 0}
.box.green h1,.box.green h2,.box.green h3,.box.green h4,.box.green h5,.box.green h6,.box.orange h1,.box.orange h2,.box.orange h3,.box.orange h4,.box.orange h5,.box.orange h6,.box.blue h1,.box.blue h2,.box.blue h3,.box.blue h4,.box.blue h5,.box.blue h6,.box.blue_dark h1,.box.blue_dark h2,.box.blue_dark h3,.box.blue_dark h4,.box.blue_dark h5,.box.blue_dark h6,.box.gray h1,.box.gray h2,.box.gray h3,.box.gray h4,.box.gray h5,.box.gray h6{color:#FFF;margin-top:0}
.box.green{background:#B5DD33;color:#FFF}
.box.orange{background:#FAA831;color:#FFF}
.box.blue{background:#61919d;color:#FFF}
.box.blue_dark{background:#2E6F79;color:#FFF}
.box.gray{background:#D0D0D0}
.box.white{border:1px #D0D0D0 solid;color:#666;background:#FFF}
.box.white h1,.box.white h2,.box.white h3,.box.white h4,.box.white h5,.box.white h6{margin-top:0}
input.mpwp,select.mpwp,textarea.mpwp{line-height:100%;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;outline:none;border:1px solid #ddd;margin:0;padding:8px;width:100%;background:#fff;font-family:Helvetica, Arial, sans-serif;font-size:17px;color:#666}
select.mpwp{height:35px}
input[readonly].mpwp,input.mpwp:disabled{background:#EEE}
label.mpwp{cursor:pointer;font-weight:bold;font-size:17px;margin:5px 0 10px 0;display:block}
label span{font-size:13px}
input[type=submit].mpwp_button,button.mpwp_button,.mpwp_button{line-height:120%;text-align:center;border:0;text-decoration:none;font-family:Helvetica, Arial, sans-serif;font-size:17px;color:#FFF;outline:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin:0;padding:8px 16px;cursor:pointer}
input[type=submit].mpwp_button:disabled{background:#D0D0D0 !important;border:1px #D0D0D0 solid !important}
input[type=submit].mpwp_button:hover,button.mpwp_button:hover,.mpwp_button:hover{opacity:0.9;filter:alpha(opacity=90);color:#fff}
input[type=submit].mpwp_button:active,button.mpwp_button:active,.mpwp_button:active{opacity:1;filter:alpha(opacity=100)}
input[type=submit].mpwp_button.green,button.mpwp_button.green,.mpwp_button.green{background:#B5DD33;border:1px #B5DD33 solid}
input[type=submit].mpwp_button.orange,button.mpwp_button.orange,.mpwp_button.orange{background:#FAA831;border:1px #FAA831 solid}
input[type=submit].mpwp_button.blue,button.mpwp_button.blue,.mpwp_button.blue{background:#61919d;border:1px #61919d solid}
input[type=submit].mpwp_button.blue_dark,button.mpwp_button.blue_dark,.mpwp_button.blue_dark{background:#2E6F79;border:1px #2E6F79 solid}
input[type=submit].mpwp_button.gray,button.mpwp_button.gray,.mpwp_button.gray{background:#D0D0D0;border:1px #D0D0D0 solid}
input[type=submit].mpwp_button.white,button.mpwp_button.white,.mpwp_button.white{border:1px #D0D0D0 solid;color:#666;background:#FFF}
input[type=submit].mpwp_button.white:hover,button.mpwp_button.white:hover,.mpwp_button.white:hover{border:1px #D0D0D0 solid;color:#666;background:#FFF}
.both{clear:both}
.both10{clear:both;height:10px}
.both20{clear:both;height:20px}
.both30{clear:both;height:30px}
.both40{clear:both;height:40px}
.both50{clear:both;height:50px}
.both60{clear:both;height:60px}
.label{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;padding:8px;background:#CCC;color:#fff;font-size:17px}
.label.label-success{background:#B5DD33;color:#fff}
.label.label-warning{background:#FAA831;color:#fff}
.label.label-default{background:#D0D0D0;color:#fff}
.text-center{text-align:center}
.text-right{text-align:right}
table.mpwp{width:100%;border-spacing:0}
table.mpwp tr th{font-weight:bold;text-align:left}
table.mpwp tr td{padding:5px 10px 5px 0}
table.mpwp.personalized{border:1px #EEE solid}
table.mpwp.personalized tr{background:#FFF}
table.mpwp.personalized tr:hover{background:#F9F9F9}
table.mpwp.personalized tr th{padding:10px;background:#EEE}
table.mpwp.personalized tr td{padding:10px;border-bottom:1px #F9F9F9 solid}
img.mpwp{max-width:100%}
.title_destac{background:#EEE;padding:10px 5px}
.mpwp_preview{position:fixed;top:35px}
.hidden{display: none;}