<style>
.mpwp_form{background:#32BABA;padding:10px;text-align:center;border-radius:0px}
.mpwp_form_title{font-family:Arial;font-size:20px;color:#FFF}
.mpwp_form_description{font-family:Arial;font-size:14px;color:#FFF}
.mpwp_field input{border:0px solid;font-size:16px;color:#999;padding:5px;margin:5px}
.mpwp_submit input{cursor:pointer;background:#FFCD45;border:0px solid;font-size:16px;color:#FFF;padding:5px}
</style>
<form action='' method='post'>
	<div class='mpwp_form'>
		<div class='mpwp_info'>
			<h2 class='mpwp_form_title'>Cadastre-se grátis</h2>
			<div class='mpwp_form_description'>Insira seu e-mail e receba gratuitamente nossas atualizações.</div>
		</div>
		<div class='mpwp_field mpwp_email'>
			<input type='email' name='mpwp_email' value='' placeholder='Seu e-mail' required />
		</div>
		<div class='mpwp_field mpwp_submit'>
			<input type='submit' value='Cadastrar' />
		</div>
	</div>
</form>